{% package views %}

{% import "github.com/joe-davidson1802/go-hotwire-todo/models" %}

{% templ renderRow(to models.Todo) %}
<div>
    {%= to.Title %}
</div>
{% endtempl %}

{% templ ListView(ts []models.Todo) %}
    {% if len(ts) == 0 %}
        <div>{%= "no todos" %}</div>
    {% else %}
        {% for _, t := range ts %}
            {%! renderRow(t) %}
        {% endfor %}
    {% endif %}
{% endtempl %}
