{% package views %}

{% import "github.com/joe-davidson1802/go-hotwire-todo/models" %}

{% templ ListView(ts []models.Todo) %}
    <turbo-frame id="todo_lister">
        <table>
            <tr>
                <th>{%= "Title" %}</th>
                <th>{%= "Complete?" %}</th>
            </tr>
            {% for _, t := range ts %}
                {%! TodoRow(t) %}
            {% endfor %}
        </table>
    </turbo-frame>
{% endtempl %}
