{% package views %}

{% templ RenderForm(action string, debug bool) %}
    <form action={%= action %} method="POST">
        <div>
            <label for="title">{%= "Title" %}</label>
            <div>
                <input type="text" name="title" id="title" placeholder="Todo..." />
            </div>
        </div>
    </form>
    {% if debug %}
        {%! TemplateBlock(RenderForm(action, false)) %}
    {% endif %}
{% endtempl %}
